<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <nav class="navbar">
        <img src="https://diegoboscan.com/static/738155fe5ef8b31a8de213cbd0295fc8/743e0/js-1.png" alt="">
        <div class="menu-nav">
            <a href="../index.html">Inicio</a>
            <a href="">Ejercicio 1</a>
            <a href="">Ejercicio 2</a>
            <a href="">Ejercicio 3</a>
            <a href="">Ejercicio 4</a>
            <a href="">Ejercicio 5</a>
            <a href="">Ejercicio 6</a>
        </div>
    </nav>
    <div class="ejercicio-content">
        <div class="ejercicio-form">
            <h1>Ejercicio 4</h1>
            <label for="">Nombre</label>
            <select name="" id="" class="nombre">
                <option value="">Seleccionar</option>
                <option value="tatiana">Tatiana</option>
                <option value="carolina">Carolina</option>
                <option value="adriana">Adriana</option>
                <option value="yaneth">Yaneth</option>
                <option value="jonathan">Jonathan</option>
                <option value="luis">Luis</option>
                <option value="fernando">Fernando</option>
            </select>
            <label for="">Apellido</label>
            <select name="" id="" class="apellido">
                <option value="">Seleccionar</option>
                <option value="galindo">Galindo</option>
                <option value="baquero">Baquero</option>
                <option value="espitia">Espitia</option>
                <option value="cabrera">Cabrera</option>
                <option value="castillo">Castillo</option>
                <option value="duarte">Duarte</option>
                <option value="forero">Forero</option>
            </select>
            <label for="">Actividad</label>
            <select name="" id="" class="actividad">
                <option value="">Seleccionar</option>
                <option value="metricas">Métricas de calidad</option>
                <option value="proyecto">Realizar el seguimiento al desarrollo del proyecto</option>
                <option value="frontend">Desarrollar en Lenguaje de programación Javascript</option>
                <option value="diseño">Implementar el Diseño FrontEnd</option>
                <option value="ambiental">Gestión ambiental</option>
                <option value="php">Realizar la programación avanzada en lenguaje PHP</option>
                <option value="cfisica">Cultura física</option>
                <option value="basesdedatos">Desarrollar y gestionar bases de datos</option>
            </select>
            <button class="btn">Comprobar</button>
        </div>
    </div>
    <footer>
        <p>Miguel Angel Wilchez Carvajal | 2465880</p>
        <p>&copy Todo los derechos reservados</p>
    </footer>
    <script src="../assets/js/ejercicio4.js"></script>
</body>
</html>