<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <nav class="navbar">
        <img src="https://diegoboscan.com/static/738155fe5ef8b31a8de213cbd0295fc8/743e0/js-1.png" alt="">
        <div class="menu-nav">
            <a href="../index.html">Inicio</a>
            <a href="">Ejercicio 1</a>
            <a href="">Ejercicio 2</a>
            <a href="">Ejercicio 3</a>
            <a href="">Ejercicio 4</a>
            <a href="">Ejercicio 5</a>
            <a href="">Ejercicio 6</a>
        </div>
    </nav>
    <div class="ejercicio-content">
        <div class="ejercicio-2-form">
            <h1>Ejercicio 4</h1>
            
        </div>
    </div>
    <footer>
        <p>Miguel Angel Wilchez Carvajal | 2465880</p>
        <p>&copy Todo los derechos reservados</p>
    </footer>
    <script src="../assets/js/ejercicio3.js"></script>
</body>
</html>