<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <nav class="navbar">
        <img src="https://diegoboscan.com/static/738155fe5ef8b31a8de213cbd0295fc8/743e0/js-1.png" alt="">
        <div class="menu-nav">
            <a href="../index.html">Inicio</a>
            <a href="ejercicio1.html">Ejercicio 1</a>
            <a href="ejercicio2.html">Ejercicio 2</a>
            <a href="ejercicio3.html">Ejercicio 3</a>
            <a href="ejercicio4.html">Ejercicio 4</a>
            <a href="ejercicio5.html">Ejercicio 5</a>
            <a href="ejercicio6.html">Ejercicio 6</a>
        </div>
    </nav>
    <section class="section-1">
        <div class="ejercicio-1">
            <h1>Ejercicio 1</h1>
            <input type="text" class="input-string">
            <button onclick="longitud()">longitud</button>
            <button onclick="mayus()">Mayúsculas</button>
            <button onclick="minus()">Minúsculas</button>
            <button onclick="primer_caracter()">Primer carácter</button>
            <p class="respuesta"></p>
            <script src="../assets/js/ejercicio1.js"></script>
        </div>
    </section>
    <footer>
        <p>Miguel Angel Wilchez Carvajal | 2465880</p>
        <p>&copy Todo los derechos reservados</p>
    </footer>
</body>
</html>