<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 6</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <nav class="navbar">
        <img src="https://diegoboscan.com/static/738155fe5ef8b31a8de213cbd0295fc8/743e0/js-1.png" alt="">
        <div class="menu-nav">
            <a href="../index.html">Inicio</a>
            <a href="ejercicio1.html">Ejercicio 1</a>
            <a href="ejercicio2.html">Ejercicio 2</a>
            <a href="ejercicio3.html">Ejercicio 3</a>
            <a href="ejercicio4.html">Ejercicio 4</a>
            <a href="ejercicio5.html">Ejercicio 5</a>
            <a href="ejercicio6.html">Ejercicio 6</a>
        </div>
    </nav>
    <div class="ejercicio-content">
        <form id="form-usuario" class="ejercicio-form-validate" action="" method="post">
            <h1>Ejercicio 6</h1>
            <div id="grupo__tipodoc">
                <select name="tipodoc" class="form-input g-tipodoc" required>
                    <option value="">Tipo de Documento</option>
                    <option value="">Cédula de Ciudadanía</option>
                    <option value="">Tarjeta de Identidad</option>
                </select> 
            </div>
            <div id="grupo__documento">
                <input type="text" class="form-input g-documento" name="documento" placeholder="Número de Documento">
                <p class="g-documento error__message">El número de documento debe tener un tamaño mínimo de 10 y un máximo de 10</p>
            </div>
            <div id="grupo__nombre">
                <input type="text" class="form-input g-nombre" name="nombre" placeholder="Nombre">
                <p class="error__message">El nombre no debe tener números o caracteres especiales</p>
            </div>
            <div id="grupo__apellido">
                <input type="text" class="form-input g-apellido" name="apellido" placeholder="Apellido">
                <p class="error__message">El apellido no debe tener números o caracteres especiales</p>
            </div>
            <div id="grupo__nacimiento">
                <label for="">Fecha de Nacimiento</label>
                <input type="date" class="form-input g-nacimiento" max="2004-01-01" required>
            </div>
            <div id="grupo__correo">
                <input type="text" class="form-input g-correo" name="correo" placeholder="Correo electrónico">
                <p class="error__message">El correo debe tener la siguiente estructura: example@domain.com</p>
            </div>
            <div id="grupo__password">
                <input type="password" class="form-input g-password" name="password" placeholder="Contraseña">
                <p class="error__message">La contraseña debe tener mínimo 8 caracteres, un número, una mayúscula y una minúscula</p>
            </div>
            <div id="grupo__password2">
                <input type="password" class="form-input g-password2" name="password2" placeholder="Confirmar contraseña">
                <p class="error__message">La contraseña digitada no coincide</p> 
            </div>
            <div>
                <a href="#terminos1" class="terms"><input type="checkbox" class="g-terminos" name="terminos" id="terminos">Acepto Términos de uso</a> 
            </div>
            <button type="submit" class="btn">Enviar</button>
            <p class="form-no-enviado">Hay campos incompletos o incorrectos</p>
        </form>
    </div>
    <div id="terminos1" class="modalmask">
        <div class="modalbox movedown">
            <a href="#close" title="Close" class="close">X</a>
            <div class="modal-form">
                <h2>Términos de uso</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perspiciatis ipsam, dolor itaque optio corporis assumenda placeat sed hic architecto corrupti ea debitis laborum, saepe culpa impedit dignissimos consequuntur quae quibusdam voluptatum. Laborum molestias pariatur dolores architecto soluta molestiae possimus odio maxime harum nam nisi ab consequatur quasi iste quia, sequi reprehenderit iusto temporibus? Incidunt, quis dolores. Voluptatem nobis enim hic non iure nemo, dolore ab recusandae laboriosam quisquam aperiam, inventore quam repellat sequi magni! Quia dolor exercitationem id dolorum maiores et eligendi fuga voluptatum necessitatibus possimus, nam libero temporibus eaque ab quaerat eveniet ipsa magni iusto provident sunt delectus.</p>
            </div>
        </div>
    </div>
    <footer>
        <p>Miguel Angel Wilchez Carvajal | 2465880</p>
        <p>&copy Todo los derechos reservados</p>
    </footer>
    <script src="../assets/js/ejercicio6.js"></script>
</body>
</html>