<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Usuario</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/estiloC.css">
    <link rel="stylesheet" href="../assets/css/estilos2.css"> 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
</head>
<body>
  <nav class="navbar">
        <img src="https://diegoboscan.com/static/738155fe5ef8b31a8de213cbd0295fc8/743e0/js-1.png" alt="">
        <div class="menu-nav">
            <a href="../index.html">Inicio</a>
            <a href="ejercicio1.html">Ejercicio 1</a>
            <a href="ejercicio2.html">Ejercicio 2</a>
            <a href="ejercicio3.html">Ejercicio 3</a>
            <a href="ejercicio4.html">Ejercicio 4</a>
            <a href="ejercicio5.html">Ejercicio 5</a>
            <a href="ejercicio6.html">Ejercicio 6</a>
        </div>
    </nav>
    <div th:replace="/views/header :: nav"></div>
    <div class="title">
      <h1>Usuario</h1>
      <a href="" data-toggle="modal" data-target="#modal-add"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg></a>
    </div>
    
    <div class="alerta">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${usuarios.size()==0}">
        <strong>Precaución!</strong> No hay usuarios para mostrar
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>
    
    <input type="checkbox" id="mostrar">Mostrar usuarios inactivos

    <table border="1" id="datatable-usu">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <!-- <th>Contraseña</th> -->
            <th>Correo</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </thead>
        <tr th:each="u:${usuarios}" id="tablerow">
            <td th:text="${u.idUsuario}">1</td>
            <td th:text="${u.nombresUsuario}+' '+${u.apellidosUsuario}">Miguel Angel Wilchez Carvajal</td>
            <!-- <td th:text="${u.contrasenaUsuario}"></td> -->
            <td th:text="${u.correoUsuario}">miguel@gmail.com</td>
            <td th:text="${u.tipoUsuario}">Administrador</td>
            <td th:text="${u.estadoUsuario}" id="estado">Inactivo</td>
            <td>
                <a href="" data-toggle="modal" th:attr="data-target='#modal-editar'+${u.idUsuario}"><button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                </svg></button></a>
                
                <!-- MODAL EDITAR -->
                <div class="modal fade" tabindex="-1" th:id="modal-editar+${u.idUsuario}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Editar Usuario</h5>
                      </div>
                      <form th:action="@{/usuario/add}" method="post" th:object="${usuario}">
                      <div class="modal-body">
                              <input type="hidden" name="idUsuario" id="idUsuario" th:value="${u.idUsuario}">
                              <div>
                              <label for="">Nombre</label>
                              <input type="text" th:value="${u.nombresUsuario}+' '+${u.apellidosUsuario}" autocomplete="off" required pattern="[A-Za-zñ ]{1,20}" readonly>
                              <div class="form-text text-danger" th:if="${#fields.hasErrors('nombresUsuario')}" th:errors="*{nombresUsuario}"></div>
                              <span class="validity"></span>
                              <input type="text" name="nombresUsuario" th:value="${u.nombresUsuario}" autocomplete="off" required pattern="[A-Za-zñ ]{1,20}" hidden>
                              <input type="text" name="apellidosUsuario" th:value="${u.apellidosUsuario}" autocomplete="off" required pattern="[A-Za-zñ ]{1,20}" hidden>
                              </div>
                              <div>
                              <label for="">Contraseña</label>
                              <input type="text" name="contrasenaUsuario" th:value="${u.contrasenaUsuario}" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="La contraseña debe tener mínimo 8 caracteres, un número, una mayúscula y una minúscula">
                              <div class="form-text text-danger" th:if="${#fields.hasErrors('contrasenaUsuario')}" th:errors="*{contrasenaUsuario}"></div>
                              <span class="validity"></span>
                              </div>
                              <div>
                              <label for="">Correo</label>
                              <input type="email" name="correoUsuario" th:value="${u.correoUsuario}" autocomplete="off" required>
                              <div class="form-text text-danger" th:if="${#fields.hasErrors('correoUsuario')}" th:errors="*{correoUsuario}"></div>
                              <span class="validity"></span>
                              </div>
                              <div>
                              <label for="">Tipo</label>
                              <select name="tipoUsuario" required>
                                  <option th:value="${u.tipoUsuario}" th:text="${u.tipoUsuario}" selected>Seleccionar</option>
                                  <option value="Administrador">Administrador</option>
                                  <option value="Admin del hogar">Admin del hogar</option>
                                  <option value="Contador">Contador</option>
                              </select>
                              <div class="form-text text-danger" th:if="${#fields.hasErrors('tipoUsuario')}" th:errors="*{tipoUsuario}"></div>
                              <span class="validity"></span>
                              </div>
                              <div>
                              <label for="">Estado</label>
                              <select name="estadoUsuario" required>
                                  <option th:value="${u.estadoUsuario}" th:text="${u.estadoUsuario}" selected>Seleccionar</option>
                                  <option value="Activo" selected>Activo</option>
                                  <option value="Inactivo">Inactivo</option>
                              </select>
                              <div class="form-text text-danger" th:if="${#fields.hasErrors('estadoUsuario')}" th:errors="*{estadoUsuario}"></div>
                              <div class="form-text text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>            
                              <span class="validity"></span>
                              </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn bg-cuentas">Editar</button>
                          
                      </div>
                    </form>
                    </div>
                  </div>
              </div>

                <a href="" data-toggle="modal" th:attr="data-target='#modal-delete'+${u.idUsuario}"><button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg></button></a>

                <!-- MODAL ELIMINAR -->
                <div class="modal fade" tabindex="-1" th:id="modal-delete+${u.idUsuario}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 th:if="${u.estadoUsuario.equalsIgnoreCase('activo')}" class="modal-title">Inactivar Usuario</h5>
                          <h5 th:if="${u.estadoUsuario.equalsIgnoreCase('inactivo')}" class="modal-title">Activar Usuario</h5>
                        </div>
                        <div class="modal-body">
                            <p th:if="${u.estadoUsuario.equalsIgnoreCase('activo')}">Esta seguro que desea inactivar este usuario?</p>
                            <p th:if="${u.estadoUsuario.equalsIgnoreCase('inactivo')}">Esta seguro que desea activar este usuario?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a th:if="${u.estadoUsuario.equalsIgnoreCase('activo')}" th:href="@{/usuario/cambioestado/}+${u.idUsuario}"><button type="submit" class="btn bg-cuentas">Inactivar</button></a>
                            <a th:if="${u.estadoUsuario.equalsIgnoreCase('inactivo')}" th:href="@{/usuario/cambioestado/}+${u.idUsuario}"><button type="submit" class="btn bg-cuentas">Activar</button></a>
                        </div>
                      </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr id="tablerow">
          <td>2</td>
          <td>Carlos Alberto Rodriguez</td>
          <td>carlosr@hotmail.com</td>
          <td>Contador</td>
          <td id="estado">Activo</td>
          <td>
            <a href="" data-toggle="modal" th:attr="data-target='#modal-editar'+${u.idUsuario}"><button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
              </svg></button></a>

            <a href="" data-toggle="modal" th:attr="data-target='#modal-delete'+${u.idUsuario}"><button type="button" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg></button></a>
          </td>
        </tr>
    </table>
    
    <!-- MODAL REGISTRAR -->
    <div class="modal fade" tabindex="-1" id="modal-add">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Registrar Usuario</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/usuario/add}" method="post" th:object="${usuario}">
                    <div>
                    <label for="">Nombres</label>
                    <input type="text" th:field="*{nombresUsuario}" autocomplete="off" required pattern="[A-Za-zñ ]{1,20}">
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('nombresUsuario')}" th:errors="*{nombresUsuario}"></div>
                    <span class="validity"></span>
                    <label for="">Apellidos</label>
                    <input type="text" th:field="*{apellidosUsuario}" autocomplete="off" required pattern="[A-Za-zñ ]{1,20}">
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('apellidosUsuario')}" th:errors="*{apellidosUsuario}"></div>
                    <!-- <label for="">Contraseña</label>
                    <input type="text" th:field="*{contrasenaUsuario}" autocomplete="off"> -->
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('contrasenaUsuario')}" th:errors="*{contrasenaUsuario}"></div>
                    <span class="validity"></span>
                    </div>
                    <div>
                    <label for="">Correo</label>
                    <input type="email" th:field="*{correoUsuario}" autocomplete="off" required>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('correoUsuario')}" th:errors="*{correoUsuario}"></div>
                    <div class="form-text text-danger" th:if="${errorMessage1}" th:text="${errorMessage1}"></div>
                    <span class="validity"></span>
                    </div>
                    <div>
                    <label for="">Tipo</label>
                    <select th:field="*{tipoUsuario}" required>
                        <option value="" selected>Seleccionar</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Admin del hogar">Admin del hogar</option>
                        <option value="Contador">Contador</option>
                    </select>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('tipoUsuario')}" th:errors="*{tipoUsuario}"></div>
                    <span class="validity"></span>
                    </div>
                    <div>
                    <!-- <label for="">Estado</label> -->
                    <select th:field="*{estadoUsuario}" hidden required>
                        <option value="Activo" selected>Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('estadoUsuario')}" th:errors="*{estadoUsuario}"></div>
                    <div class="form-text text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>            
                    <!-- <span class="validity"></span> -->
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn bg-cuentas">Registrar</button>
                </form>
            </div>
          </div>
        </div>
    </div>

    <script>
      var datat=document.querySelector("#datatable-usu"); 
      var dataTable=new DataTable("#datatable-usu",{ 
        perPage:10,
        labels: {
            placeholder: "Buscar...",
            perPage: "{select} registros por página",
            noRows: "No se encontraron registros",
            info: "Mostrando {start} a {end} de {rows} usuarios (Página {page} de {pages} páginas)",
        }
      } ) ;
    </script>

    <script src="../assets/js/mostrarInactivos.js"></script>
</body>
</html>