nav{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(220, 224, 226);
    padding: 1rem;
}

.logo img{
    width: 200px;
}

.menu-nav{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
}

.menu-nav a{
    color: black;
    margin-right: 1rem;
}

#Home{
    color: #57b846;
    font-weight: bold;
}

.title{
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
}

svg{
    color: #57b846;
}

.bg-cuentas{
    color: white;
    background-color: #57b846;
    border: #57b846;
}

.bg-cuentas:hover{
    color: white;
    background-color: #61AA54;
}