input:invalid{
    border: 1px solid red;
    border-radius: 5px;

} 
input:valid + span:after{
    content:"✔";
    border: 3px solid #57b846;
    border-radius: 15px;

}

select:invalid{
    border: 1px solid red;
    border-radius: 5px;

}
select:valid + span:after{
    content: "✔";
    border: 3px solid #57b846;
    border-radius: 15px;
}
